.App {
  text-align: center;
}

.btn {
  position: absolute;
  top: 360px;
  left: 310px;
  background-color: violet;
  color: white;
  padding: 12px;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.rec {
  z-index: 1;
}
